@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

html{
    height: 100%;
}

body{
    min-height: 100%;
    background-color: hsl(0, 0%, 98%);
    color: hsl(229, 6%, 66%);
    font-family: 'Poppins', sans-serif;
}

h1{
    color: hsl(234, 12%, 34%);
    font-weight: 600;
}

span{
    font-weight: 200;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header{
    width: 30%;
    text-align: center;
}



main > div{
    margin-top: 2em;
    display: flex;
    justify-content: space-between;
}

main > div > div{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card{
    background-color: white;
    margin-right: 1em;
    margin-top: 3em;
    border-radius: 7px;
    height: fit-content;
    position: relative;
}

.card h2, .card p{
    padding-left: 10%;
    padding-right: 10%;
}

.card h2{
    font-weight: 600;
    color: hsl(234, 12%, 34%);
    font-size: 1.3em;
    padding-top: 1em;
    margin-bottom: 0.5em;
}

.card p{
    font-weight: 200;
    font-size: 0.8em;
    margin-top: 0px;
    padding-bottom: 10em;
}

img{
    position: absolute;
    bottom: 2em;
    right: 2em;
}

.card_one{
    box-shadow: 0px -4px 0px hsl(180, 62%, 55%), 5px 5px 12px rgba(76,78,97,0.3);
}

.card_two{
    box-shadow: 0px -4px 0px hsl(0, 78%, 62%), 5px 5px 12px rgba(76,78,97,0.3);
}

.card_three{
    box-shadow: 0px -4px 0px hsl(34, 97%, 64%), 5px 5px 12px rgba(76,78,97,0.3);
}

.card_four{
    box-shadow: 0px -4px 0px hsl(212, 86%, 64%), 5px 5px 12px rgba(76,78,97,0.3);
}



.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }




@media screen and (max-width:1200px){
    main{
        width: 90%;
        margin: auto;
    }

    header{
        width: 100%;
        margin-left:auto;
        margin-right: auto;
    }

    main > div{
        flex-direction: column;
    }

    main > div > div{
        width: 100%;
        align-items: center;
    }
    
    .card{
        width: 100%;
        margin-left:auto;
        margin-right: auto;
    }
}

@media screen and (max-width:500px){
    h1{
        font-size: 1.6em;
    }
}